{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hits list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nodeid</th>
                <th>Visittime</th>
                <th>Referingurl</th>
                <th>Hitremoteaddr</th>
                <th>Hituseragent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hit in hits %}
            <tr>
                <td><a href="{{ path('hit_show', { 'id': hit.id }) }}">{{ hit.id }}</a></td>
                <td>{{ hit.nodeId }}</td>
                <td>{% if hit.visitTime %}{{ hit.visitTime|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if hit.referingUrl %}<a href="{{ hit.referingUrl|raw }}" target="_blank">{{ hit.referingUrl|striptags|slice(0, 30) ~ '...' }}{% endif %}</td>
                <td>{{ hit.hitRemoteAddr }}</td>
                <td>{{ hit.hitUserAgent }}</td>
                <td>
                    <ul class="list-inline functional_footer_menu">
                        <li>
                            <a href="{{ path('hit_show', { 'id': hit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hit_edit', { 'id': hit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(hits) }}
    </div>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('hit_new') }}" class="btn btn-success">Create a new hit</a>
        </li>
    </ul>
{% endblock %}
