{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hit.id }}</td>
            </tr>
            <tr>
                <th>Nodeid</th>
                <td>{{ hit.nodeId }}</td>
            </tr>
            <tr>
                <th>Visittime</th>
                <td>{% if hit.visitTime %}{{ hit.visitTime|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Referingurl</th>
                <td>{{ hit.referingUrl }}</td>
            </tr>
            <tr>
                <th>Hitremoteaddr</th>
                <td>{{ hit.hitRemoteAddr }}</td>
            </tr>
            <tr>
                <th>Hituseragent</th>
                <td>{{ hit.hitUserAgent }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('hit_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hit_edit', { 'id': hit.id }) }}" class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
