{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Isadmin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('role_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.role }}</td>
                <td>{% if role.isAdmin %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('role_show', { 'id': role.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('role_edit', { 'id': role.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('role_new') }}" class="btn btn-success">Create a new role</a>
        </li>
    </ul>
{% endblock %}
