{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ role.role }}</td>
            </tr>
            <tr>
                <th>Isadmin</th>
                <td>{% if role.isAdmin %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('role_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('role_edit', { 'id': role.id }) }}" class="btn btn-warning">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
