{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Figate più cliccate</h3>
        </div>
        <div class="panel-body">
            <ul>
            {% for node in sticked_nodes %}
                    <li><a href="{{ path('single_node', { 'slug': node.slug }) }}">{{ node.title }}</a>
                        {{ node.body|striptags|truncate(200, '...') }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Figate nuove di zecca</h3>
        </div>
        <div class="panel-body">
            <ul>
                {% for node in promoted_nodes %}
                    <li><a href="{{ path('single_node', { 'slug': node.slug }) }}">{{ node.title }}</a>
                        {{ node.body|striptags|truncate(200, '...') }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

