{% extends 'base.html.twig' %}

{% block body %}
    <h1>Definitions list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(definitions, 'Id', 'd.id' )|raw }}</th>
                <th>{{ knp_pagination_sortable(definitions, 'Node', 'n.title' )|raw }}</th>
                <th>{{ knp_pagination_sortable(definitions, 'UserId', 'd.userId' )|raw }}</th>
                <th>Body</th>
                <th>ExtraInfo</th>
                <th>{{ knp_pagination_sortable(definitions, 'Status', 'd.status' )|raw }}</th>
                <th>{{ knp_pagination_sortable(definitions, 'Poll', 'd.poll' )|raw }}</th>
                <th>{{ knp_pagination_sortable(definitions, 'Updated', 'd.updated' )|raw }}</th>
                <th>{{ knp_pagination_sortable(definitions, 'Created', 'd.created' )|raw }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for definition in definitions %}
            <tr>
                <td><a href="{{ path('definition_show', { 'id': definition.d_id }) }}">{{ definition.d_id }}</a></td>
                <td><a href="{{ path('single_node', { 'slug': definition.n_slug }) }}" target="_blank">{{ definition.n_title }}</a></td>
                <td><a href="{{ path('user_show', { 'id': definition.d_userId }) }}" target="_blank">{{ definition.d_userId }}</a></td>
                <td>{{ definition.d_body|raw }}</td>
                <td>{{ definition.d_extraInfo|raw }}</td>
                <td>{% if definition.d_status %}Yes{% else %}No{% endif %}</td>
                <td>{{ definition.d_poll }}</td>
                <td>{% if definition.d_updated %}{{ definition.d_updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if definition.d_created %}{{ definition.d_created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('definition_show', { 'id': definition.d_id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('definition_edit', { 'id': definition.d_id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(definitions) }}
    </div>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('definition_new') }}" class="btn btn-success">Create a new definition</a>
        </li>
    </ul>
{% endblock %}
