{% extends 'base.html.twig' %}

{% block body %}
    <h1>Definitions list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nodeid</th>
                <th>Userid</th>
                <th>Body</th>
                <th>ExtraInfo</th>
                <th>Status</th>
                <th>Poll</th>
                <th>Updated</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for definition in definitions %}
            <tr>
                <td><a href="{{ path('definition_show', { 'id': definition.id }) }}">{{ definition.id }}</a></td>
                <td>{{ definition.nodeId }}</td>
                <td>{{ definition.userId }}</td>
                <td>{{ definition.body|raw }}</td>
                <td>{{ definition.extraInfo|raw }}</td>
                <td>{% if definition.status %}Yes{% else %}No{% endif %}</td>
                <td>{{ definition.poll }}</td>
                <td>{% if definition.updated %}{{ definition.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if definition.created %}{{ definition.created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline functional_footer_menu">
                        <li>
                            <a href="{{ path('definition_show', { 'id': definition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('definition_edit', { 'id': definition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(definitions) }}
    </div>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('definition_new') }}" class="btn btn-success">Create a new definition</a>
        </li>
    </ul>
{% endblock %}
