{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roleid</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
                <th>Origin</th>
                <th>Image</th>
                <th>Bio</th>
                <th>Timezone</th>
                <th>Status</th>
                <th>Updated</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.roleId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.website }}</td>
                <td>{{ user.origin }}</td>
                <td>{{ user.image }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.timezone }}</td>
                <td>{% if user.status %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.updated %}{{ user.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('user_new') }}" class="btn btn-success">Create a new user</a>
        </li>
    </ul>
{% endblock %}
