{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(users, 'Id', 'u.id' )|raw }}</th>
                <th>{{ knp_pagination_sortable(users, 'Username', 'u.username' )|raw }}</th>
                <th>{{ knp_pagination_sortable(users, 'Name', 'u.name' )|raw }}</th>
                <th>{{ knp_pagination_sortable(users, 'Email', 'u.email' )|raw }}</th>
                <th>{{ knp_pagination_sortable(users, 'Website', 'u.website' )|raw }}</th>
                <th>{{ knp_pagination_sortable(users, 'Origin', 'u.origin' )|raw }}</th>
                <th>{{ knp_pagination_sortable(users, 'Status', 'u.status' )|raw }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.website %}<a href="{{ user.website|raw }}" target="_blank">{{ user.website|replace({'http://': '', 'https://': '','www.': ''})|striptags|slice(0, 15) ~ '...' }}{% endif %}</td>
                <td>{{ user.origin }}</td>
                <td>{% if user.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="navigation">
    {{ knp_pagination_render(users) }}
</div>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('user_new') }}" class="btn btn-success">Create a new user</a>
        </li>
    </ul>
{% endblock %}
