{% extends "base.html.twig" %}

{% block title %}{{ node.title }}{% endblock %}

{% block canonical %}<link href="{{ url('single_node', { 'slug': node.slug }, true) }}" rel="canonical">{% endblock %}

{% block body %}
    <h1>{{ node.title }}</h1>

    <div id="singolo-lemma__detail">
    {% for entity in definitions %}
        <div class="panel panel-default">
            <div class="panel-heading">
                di <strong>{{ entity.u_name|raw }}</strong> {% if entity.u_origin %}da <strong>{{ entity.u_origin|raw }}</strong>{% endif %}
            </div>
            <div class="panel-body">
                <article>
                    <header>
                        Pubblicato il
                        <time pubdate datetime="{{ entity.d_updated|date }}">{{ entity.d_updated|date }}</time>
                    </header>
                    {{ entity.d_body|raw }}
                    {% if entity.d_extraInfo %}
                    <blockquote>
                        {{ entity.d_extraInfo|raw }}
                    </blockquote>
                    {% endif %}
                    <footer>
                        <a href="#{{ entity.d_id }}"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#{{ entity.d_id }}"><span class="glyphicon glyphicon-minus"></span></a> |
                        Voti: <span class="badge poll">{{ entity.d_poll }}</span>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="pull-right">
                                <a href="{{ path('definition_edit', { 'id': entity.d_id }) }}" target="_blank"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i> edit</a>
                            </p>
                        {% endif %}
                    </footer>
                </article>
            </div>
        </div>
    {% endfor %}


        <!-- codice circuito  Pnet Publisher Network -->
        <!-- Spazio:  bruttastoria_it_728x90 -->
        <script type="text/javascript">
            amm_zt = 0;
            amm_ad_siteid = 3889;
            amm_ad_zone = 52959;
            amm_ad_width = 728;
            amm_ad_height = 90;
        </script>
        <script type="text/javascript" src='//advdl.ammadv.it/js/amm_show_ads_ntag.js'>
        </script>
        <!-- codice circuito  Pnet Publisher Network - fine-->

        {% if related %}
        <h3>Figate collegate</h3>
        <ul class="list-inline">
            {% for node in related %}
                <li><a href="{{ path('single_node', { 'slug': node.n_slug }) }}">{{ node.n_title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
