{% extends 'base.html.twig' %}

{% block body %}
    <h1>Node edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-warning" value="Edit" />
    {{ form_end(edit_form) }}

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('node_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
