{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nodes list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(nodes, 'Title', 'title' )|raw }}</th>
                <th>Slug</th>
                <th>Status</th>
                <th>Promote</th>
                <th>Sticky</th>
                <th>Updated</th>
                <th>{{ knp_pagination_sortable(nodes, 'Created', 'created' )|raw }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for node in nodes %}
            <tr>
                <td>{{ node.title }}</td>
                <td>{{ node.slug }}</td>
                <td>{% if node.status %}Yes{% else %}No{% endif %}</td>
                <td>{% if node.promote %}Yes{% else %}No{% endif %}</td>
                <td>{% if node.sticky %}Yes{% else %}No{% endif %}</td>
                <td>{% if node.updated %}{{ node.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if node.created %}{{ node.created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('single_node', { 'slug': node.slug }) }}" target="_blank">show</a>
                        </li>
                        <li>
                            <a href="{{ path('node_edit', { 'id': node.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(nodes) }}
    </div>

    <ul class="list-inline functional_footer_menu">
        <li>
            <a href="{{ path('node_new') }}" class="btn btn-success">Create a new node</a>
        </li>
    </ul>
{% endblock %}
