{% block anysrv_recaptcha_widget %}
    {% spaceless %}
        {% if form.vars.anysrv_recaptcha_enabled %}
            <script type="text/javascript" src="{{ form.vars.anysrv_recaptcha_api }}"></script>

            <div class="g-recaptcha" data-sitekey="{{ form.vars.anysrv_recaptcha_sitekey }}"
                 data-theme="{{ attr.options.theme }}" data-type="{{ attr.options.type }}"
                 data-size="{{ attr.options.size }}" data-tabindex="{{ attr.options.tabindex }}"></div>
        {% endif %}
    {% endspaceless %}
{% endblock %}